In [1]:
import numpy as np
import pandas as pd
from census import api

NOTE this is outdated and needs to be replaced

# Pulling American Community Survey (ACS) data

Suppose we want to get the 2018 median household income for each census tract in Illinois. First, instantiate an `ACSDataset` object.

In [2]:
median_income_il = api.ACSDataset()

On instantiation, the Census API has not yet been queried. To do so, we need to know

* The variable code associated with median household income. The full list of variable codes can be found at https://api.census.gov/data/2018/acs/acs5/variables.html. The one we want is `B19013_001E`.
* The two-digit state code for Illinois, which is `17`.

In [3]:
median_income_il.load('B19013_001E', geography='tract', state='17')

Now the raw HTTP response is stored in `median_income_ll.response`. This is an object from `urllib3`.

If desired, the data can be immediately saved to `foo.csv` by running `median_income_ll.to_csv('foo.csv')`.

Or we can convert the data to a Pandas DataFrame with

In [4]:
df = median_income_il.to_pandas()

In [5]:
df.head()

,NAME,B19013_001E,state,county,tract
GEO_ID,,,,,
1400000US17165956100,"Census Tract 9561, Saline County, Illinois",43526,17,165,956100
1400000US17165955700,"Census Tract 9557, Saline County, Illinois",54167,17,165,955700
1400000US17165955900,"Census Tract 9559, Saline County, Illinois",29125,17,165,955900
1400000US17197882900,"Census Tract 8829, Will County, Illinois",49565,17,197,882900
1400000US17197883000,"Census Tract 8830, Will County, Illinois",46175,17,197,883000

The column `B19013_001E` is the one containing the income information.

# Using the variable list

To make it a bit easier to find the variable you're looking for, there is a utility function that parses the HTML table of variables. It's a huge table so it takes about 30 seconds to scrape.

In [6]:
variables = api.get_variable_list()

In [7]:
variables.head()

,Name,Label,Concept,Required,Attributes,Limit,Predicate Type,Group
0,AIANHH,Geography,NaN,not required,NaN,0,(not a predicate),NaN
1,AIHHTL,Geography,NaN,not required,NaN,0,(not a predicate),NaN
2,AIRES,Geography,NaN,not required,NaN,0,(not a predicate),NaN
3,AITS,Geography,NaN,not required,NaN,0,(not a predicate),NaN
4,ANRC,Geography,NaN,not required,NaN,0,(not a predicate),NaN

Suppose that rather than median household income, we want counts of households for each census tract broken out into income categories. Each income category is a separate variable, so we'll have to pass in an entire variable group. It turns out the variable group we want here is `B19001`.

In [8]:
income_grp = variables['Group'] == 'B19001'

In [9]:
variables[income_grp]

,Name,Label,Concept,Required,Attributes,Limit,Predicate Type,Group
11044,B19001_001E,Estimate!!Total,HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,not required,"B19001_001M, B19001_001MA, B19001_001EA",0,int,B19001
11045,B19001_002E,"Estimate!!Total!!Less than $10,000",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,not required,"B19001_002M, B19001_002MA, B19001_002EA",0,int,B19001
11046,B19001_003E,"Estimate!!Total!!$10,000 to $14,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,not required,"B19001_003M, B19001_003MA, B19001_003EA",0,int,B19001
11047,B19001_004E,"Estimate!!Total!!$15,000 to $19,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,not required,"B19001_004M, B19001_004MA, B19001_004EA",0,int,B19001
11048,B19001_005E,"Estimate!!Total!!$20,000 to $24,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,not required,"B19001_005M, B19001_005MA, B19001_005EA",0,int,B19001
11049,B19001_006E,"Estimate!!Total!!$25,000 to $29,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,not required,"B19001_006M, B19001_006MA, B19001_006EA",0,int,B19001
11050,B19001_007E,"Estimate!!Total!!$30,000 to $34,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,not required,"B19001_007M, B19001_007MA, B19001_007EA",0,int,B19001
11051,B19001_008E,"Estimate!!Total!!$35,000 to $39,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,not required,"B19001_008M, B19001_008MA, B19001_008EA",0,int,B19001
11052,B19001_009E,"Estimate!!Total!!$40,000 to $44,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,not required,"B19001_009M, B19001_009MA, B19001_009EA",0,int,B19001
11053,B19001_010E,"Estimate!!Total!!$45,000 to $49,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,not required,"B19001_010M, B19001_010MA, B19001_010EA",0,int,B19001
11054,B19001_011E,"Estimate!!Total!!$50,000 to $59,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,not required,"B19001_011M, B19001_011MA, B19001_011EA",0,int,B19001
11055,B19001_012E,"Estimate!!Total!!$60,000 to $74,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,not required,"B19001_012M, B19001_012MA, B19001_012EA",0,int,B19001
11056,B19001_013E,"Estimate!!Total!!$75,000 to $99,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,not required,"B19001_013M, B19001_013MA, B19001_013EA",0,int,B19001
11057,B19001_014E,"Estimate!!Total!!$100,000 to $124,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,not required,"B19001_014M, B19001_014MA, B19001_014EA",0,int,B19001
11058,B19001_015E,"Estimate!!Total!!$125,000 to $149,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,not required,"B19001_015M, B19001_015MA, B19001_015EA",0,int,B19001
11059,B19001_016E,"Estimate!!Total!!$150,000 to $199,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,not required,"B19001_016M, B19001_016MA, B19001_016EA",0,int,B19001
11060,B19001_017E,"Estimate!!Total!!$200,000 or more",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,not required,"B19001_017M, B19001_017MA, B19001_017EA",0,int,B19001

The variables we need to pass are in the `Name` column, so extract those and load a new `ACSDataset`.

In [10]:
income_vars = variables.loc[income_grp, 'Name'].to_list()

In [11]:
income = api.ACSDataset()
income.load(income_vars, 'tract', '17')

In [12]:
df = income.to_pandas()

In [13]:
df.head()

,NAME,B19001_001E,B19001_002E,B19001_003E,B19001_004E,B19001_005E,B19001_006E,B19001_007E,B19001_008E,B19001_009E,...,B19001_011E,B19001_012E,B19001_013E,B19001_014E,B19001_015E,B19001_016E,B19001_017E,state,county,tract
GEO_ID,,,,,,,,,,,,,,,,,,,,,
1400000US17165956100,"Census Tract 9561, Saline County, Illinois",1038,81,75,63,76,38,74,69,66,...,58,124,151,47,11,4,21,17,165,956100
1400000US17165955700,"Census Tract 9557, Saline County, Illinois",944,40,68,78,73,42,31,28,41,...,54,77,83,148,47,47,56,17,165,955700
1400000US17165955900,"Census Tract 9559, Saline County, Illinois",966,178,121,56,98,37,54,63,42,...,73,62,127,18,13,8,0,17,165,955900
1400000US17197882900,"Census Tract 8829, Will County, Illinois",866,45,30,31,74,22,57,76,53,...,44,102,115,80,43,23,22,17,197,882900
1400000US17197883000,"Census Tract 8830, Will County, Illinois",1183,121,124,54,36,52,51,51,79,...,164,107,78,69,59,61,6,17,197,883000

Those column names aren't particularly informative, but we can use the variable labels (along with a little cleaning) to fix them up.

In [14]:
income_labels = variables.loc[income_grp, 'Label']
income_labels = (
    income_labels
        .str.replace('Estimate!!Total!!', '')
        .str.replace('Estimate!!Total', 'Total')
        .str.replace('$', '')
)
df.columns.values[df.columns.str.startswith('B19001')] = income_labels

In [15]:
df.head()

,NAME,Total,"Less than 10,000","10,000 to 14,999","15,000 to 19,999","20,000 to 24,999","25,000 to 29,999","30,000 to 34,999","35,000 to 39,999","40,000 to 44,999",...,"50,000 to 59,999","60,000 to 74,999","75,000 to 99,999","100,000 to 124,999","125,000 to 149,999","150,000 to 199,999","200,000 or more",state,county,tract
GEO_ID,,,,,,,,,,,,,,,,,,,,,
1400000US17165956100,"Census Tract 9561, Saline County, Illinois",1038,81,75,63,76,38,74,69,66,...,58,124,151,47,11,4,21,17,165,956100
1400000US17165955700,"Census Tract 9557, Saline County, Illinois",944,40,68,78,73,42,31,28,41,...,54,77,83,148,47,47,56,17,165,955700
1400000US17165955900,"Census Tract 9559, Saline County, Illinois",966,178,121,56,98,37,54,63,42,...,73,62,127,18,13,8,0,17,165,955900
1400000US17197882900,"Census Tract 8829, Will County, Illinois",866,45,30,31,74,22,57,76,53,...,44,102,115,80,43,23,22,17,197,882900
1400000US17197883000,"Census Tract 8830, Will County, Illinois",1183,121,124,54,36,52,51,51,79,...,164,107,78,69,59,61,6,17,197,883000

# Other options

We can pull Zip Code Tabulated Areas (ZCTAs) instead of tracts by passing `geography='zip'` to `ACSDataset.load()`. ZCTAs don't necessarily correspond to one particular state, so we can't pull zip codes for just Illinois, for instance. Because of this, you can omit the `state` argument when loading ZCTAs. If you do specify it, it will be ignored. Every ZCTA in the US will be returned.

In [16]:
median_income_zips = api.ACSDataset()

In [17]:
median_income_zips.load('B19013_001E', geography='zip')

In [18]:
median_income_zips.to_pandas().head()

                       NAME B19013_001E zip code tabulation area
GEO_ID
8600000US00601  ZCTA5 00601       13092                    00601
8600000US00602  ZCTA5 00602       16358                    00602
8600000US00603  ZCTA5 00603       16603                    00603
8600000US00606  ZCTA5 00606       12832                    00606
8600000US00610  ZCTA5 00610       19309                    00610

In [1]:
gini = api.ACSDataset()

NameError: name 'api' is not defined